@import url('https://fonts.googleapis.com/css?family=Philosopher&display=swap:100,200,300,400,500,600,700');


html,
body {
    background-color: #fffff6;
    font-family: "Philosopher", sans-serif;
    height:100%;
    width:100%;
    text-align:center;
}



/*----------------------------------Utility */

.font-main {
    font-family: "Philosopher", sans-serif;
    color: #afafaf;
}


.img-uniform-size{
    height:100%;
    object-fit:contain;
    width:100%;
}



/*-----------------------------------Header */

header {
    background-color: #5555e6;
    color: #fafafa;
    margin-bottom: 5vh;
}


.banner-title{
    margin:0;
}


h1 {
    font-size:1.5em;

}

.header-text{
    font-size:0.15em;
}


@media(min-width:576px){
    h1{
        font-size:3em;
    }
    
    .header-text{
        font-size:0.75em;
    }
}





.logo {
    background: url("../images/camera-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
    width: 100%;

}

.banner-menu{
    color: #555590;
}


.nav-link {
    font-size:90%;
    text-decoration: none;
}


.nav-link :hover{
    color:#00ff00;
}


.menu-bars{
    background-color: rgba(0,0,0,0);
    border:none;
    color:#fafafa;
    font-size:2em;
}







/*------------------------------------Home Page Body */

.home-image-wrapper {
    height: auto;
    width: 90%;
}

.home-image {
    height: 100%;
    width: 100%;
}

.home-text {
    width: 90%;
}


/*----------------------------------Service Page Body */


.services-row{
    margin-top: 5vh;
}

@media (min-width:768px){
    .services-row{
        margin-top: 10vh;
    }  
}



.services-image-wrapper {
    height: auto;
    width: 70%;
}


.services-image {
    height: auto;
    width: 100%;
}




/*----------------------------------Contact Page Body */


.message-heading{
    font-size:4em;
}



.contact-form{
    border: 0.5px solid #bbcce6;
    border-radius:10px;
    width: 85%;
}

@media (min-width:768px){
    .contact-form{
        width:70%;
    }
}

.form-group{
    margin-bottom:3px;
}

.form-label{
    
    font-size:0.75em;
    margin-bottom:2px;
    padding-left:0.5em;
}

.form-control{
    height:1.5em;
    margin:0;
    padding-left:0.5em;
}


.form-group{
    font-family:"Arial";
}


/* Code below credited to
    https://alligator.io/css/styling-placeholder-text/
*/


::-webkit-input-placeholder {
  font-size: 13px;
}
::-moz-placeholder {

  font-size: 13px;
}
:-ms-input-placeholder {

  font-size: 13px;
}
::placeholder {

  font-size: 13px;
}

/*  End of code credited to
    https://alligator.io/css/styling-placeholder-text/
*/



.map-section{
    border: 0.5px solid #bbcce6;
    border-radius:10px;
}


.map-container {
    background-color:blue;
    height:50%;
    width: 100%;
}


.contact-map{
    height:100%;
    width:100%;
}



.location-arrow{
    background:rgba(0,0,0,0);
    color:red;
    display:inline;
    font-size:1.5em;
    position:relative;
    top:55%;
    z-index: 2;
}



/*-----------------------------------About Page Body */


.card{
    width:100%;
    padding:1em;
}

/*
.card-yemi{
    position:relative;
    right:0;
}
*/


@media (min-width:768px){
    .card{
        width:70%;
    }
    
}


.card-image-top{
    object-fit:contain;
}



.about-seperator{
    margin-bottom:5vh;
}


/*---------------------------------Footer */

footer {
    background-color: #ff44aa;
    color: #fafafa;
    margin-top:10vh;

}







/*---------------------------------------TEST
------------------------------------------- */

/*crossfade */

#cf {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}





/* Full width image */
.test-img-full{
    width:100%;
    height:auto;
}


.test-img-size{
    width:100px;
    height:auto;
}



.quote-section-one{
    
}

.quote{
    display:none;
}


