@import url('https://fonts.googleapis.com/css?family=Philosopher&display=swap:100,200,300,400,500,600,700');


html,
body {
    background-color: #fffff6;
    font-family: "Philosopher", sans-serif;
    height:100%;
    width:100%;
}



/*----------------------------------Utility */

.font-main {
    font-family: "Philosopher", sans-serif;
    color: #afafaf;
}




/*-----------------------------------Header */

header {
    background-color: #5555e6;
    color: #fafafa;
    margin-bottom: 5vh;
}



.logo {
    background: url("../images/camera-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
    width: 100%;

}



.nav-link {
    color: #fafafa;
    font-size:90%;
    text-decoration: none;
    
}


.nav-link hover{
    color:#00ff00;
}



.banner-wrapper {
    width: 90%;
    height: 90%;
}







/*------------------------------------Home Page Body */

.home-image-wrapper {
    height: auto;
    width: 90%;
}

.home-image {
    height: 100%;
    width: 100%;
}

.home-text {
    width: 90%;
}


/*----------------------------------Service Page Body */


.services-row{
    margin-top: 5vh;
}

@media (min-width:768px){
    .services-row{
        margin-top: 10vh;
    }  
}



.services-image-wrapper {
    height: auto;
    width: 70%;
}


.services-image {
    height: auto;
    width: 100%;
}




/*----------------------------------Contact Page Body */

.contact-form {
    width: 85%;
}


@media (min-width:992px){
    .contact-form{
        width:50%;
    }
}



.form-label{
    font-size:0.85em;
    margin-bottom:2px;
}

.form-control{
    height:1.5em;
    margin:0;
}


.form-group{
    font-family:"Arial";
}


/* Code below credited to
    https://alligator.io/css/styling-placeholder-text/
*/


::-webkit-input-placeholder {
  font-size: 13px;
}
::-moz-placeholder {

  font-size: 13px;
}
:-ms-input-placeholder {

  font-size: 13px;
}
::placeholder {

  font-size: 13px;
}

/*  End of code credited to
    https://alligator.io/css/styling-placeholder-text/
*/


input[type="date"]{
    font-size: 13px;
}



.map-wrapper {
    width: 100%;
}




/*-----------------------------------About Page Body */

.about-image-wrapper {
    height: auto;
    width: 90%;
    margin-bottom: 5vh;
}

.about-image {
    height: 100%;
    width: 100%;
}


.about-seperator{
    margin-bottom:5vh;
}


/*---------------------------------Footer */

footer {
    background-color: #ff44aa;
    color: #fafafa;
    margin-top:10vh;
    width:100%;
}
