@import url('https://fonts.googleapis.com/css?family=Philosopher&display=swap:100,200,300,400,500,600,700');


html, body{
    background-color:#fffff6;
    font-family: "Philosopher",sans-serif;
} 



/*----------------------------------Utility */
    
.font-main{
    font-family: "Philosopher",sans-serif;
    color:#afafaf;
}




/*-----------------------------------Header */


header{
    background-color:#5555e6;
    color:#fafafa;
}






.nav-link{
    color:#fafafa;
    text-decoration:none;
}


.logo{
    background: url("../images/camera-logo.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    height:100%;
    width:100%;
}








/*------------------------------------Home Page Body */


.home-image-wrapper{
    height:auto;
    width:90%;
}

.home-image{
    height:100%;
    width:100%;
}


.home-text{
    width:90%;
}


/*-----------------------------------About Page Body */


.about-image-wrapper{
    height:auto;
    width:90%;
}

.about-image{
    height:100%;
    width:100%;
}


.about-text{
    width:90%;
}




/*----------------------------------Contact Page Body */

.contact-form{
    width: 80%;
    height: 20%;
}


.map-wrapper{
    width:100%;
    height:100%;
}



/*---------------------------------Footer */

footer{
    background-color: #ff44aa;
    color:#fafafa;
}